<div>
  <h3>Account</h3>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
</div>

<h3>Reservations</h3>

<% @reservations.each do |reservation| %>
  <p>
    Restaurant:  <%= @restaurants.find_by(id: reservation.restaurant_id).name %>
    Date:  <%= reservation.date %>
    Party Size:  <%= reservation.party_size%> people
  </p>

  <%= link_to 'Edit', edit_user_reservation_path(user_id: @user.id, id: reservation.id) %>
  | <%= link_to 'Delete', user_reservation_path(user_id: @user.id, id: reservation.id), method: :delete, data: {confirm: "Are you sure you want to delete the reservation?"} %>
<% end %>
