<div>
  <h3>Account</h3>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
</div>

<h3>Reservations</h3>

<% @reservations.each do |reservation| %>
  <p>
    Restaurant:  <%= @restaurants.find_by(id: reservation.restaurant_id).name %>
    Date:  <%= reservation.date %>
    Party Size:  <%= reservation.party_size%> people
  </p>
<% end %>
