<section class="search">
  <h1>Search A Restaurant</h1>

  <%= form_tag  searches_path, method: "get" do |f| %>
    <div class="field">
      <%= label_tag :date %><br/>
      <%= date_field_tag :date %><br/>

    </div>
    <div class="field">
      <%= label_tag :time %><br/>
      <%= select_tag :res_time, options_for_select([["5-6PM",1], ["6-7PM", 2], ["7-8PM", 3], ["8-9PM", 4], ["9-10PM", 5]]) %>
    </div>

    <div class="field">
      <%= label_tag :party_size %><br/>
      <%= select_tag :party_size, options_for_select(1..10) %>
    </div>

    <div class="actions"><%= submit_tag "Find Restaurants" %></div>
  <% end %>
</section>


<section class="restaurants">
  <h1>All Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
    <div>
      <%= link_to image_tag("#{restaurant.image}"),  restaurant_path(restaurant) %>
      <h3><%= restaurant.name %></h3>
      <p><%= restaurant.city %></p>
      <p><%= restaurant.cuisine %></p>
    </div>

  <% end %>
</section>
