<%= image_tag @restaurant.image %>
  <div>
   <h3>Name: <%= @restaurant.name %></h3>
   <p>City: <%= @restaurant.city %></p>
 </div>

<h2>Remain Seats</h2>
<% t = Time.now%>
<% res_time = [["5-6PM",1], ["6-7PM", 2], ["7-8PM", 3], ["8-9PM", 4], ["9-10PM", 5]].to_h%>
<% res_time.each do |k, v|%>
  <% if @restaurant.remain_seat(t, res_time[k]) > 0 %>
    <p><%= "#{k}: #{@restaurant.remain_seat(t, res_time[k])}"%></p>
  <%end%>
<% end %>

<h2>Make A Reservation</h2>

 <% if current_user %>

    <%= form_for(@reservation) do |f| %>
      <%= f.hidden_field :restaurant_id %>

      <% if @reservation.errors.any? %>
        <div class="error_messages">
          <h4>Reservation not confirmed because:</h4>
          <% @reservation.errors.full_messages.each do |message| %><br>
            <%= message %>
          <% end %>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :party_size %><br/>
        <%= f.select :party_size, options_for_select(1..10) %>
      </div>

      <div class="field">
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>

      <div class="field">
        <% timeslot = ["5-6PM",1], ["6-7PM", 2], ["7-8PM", 3], ["8-9PM", 4], ["9-10PM", 5]%>
        <%= f.label :time %><br/>
        <%= f.select :res_time, options_for_select(timeslot)  %>
      </div>

      <div class="actions">
        <%= f.submit 'Make Reservation' %>
      </div>

    <% end %>

<% else %>

  <p>To make a reservation, please
    <%= link_to("Log In", new_sessions_path)%>
    <%= link_to("Sign Up", new_user_path)%>.</p>
  </p>

<% end %>
