<!DOCTYPE html>
<html>

<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<header>
  <%= link_to 'SEAT YOUSELF', root_path %>
  <nav>
    <% if current_user %>
      <p>Hello <%= current_user.name %>
      <%= link_to 'Log Out', sessions_path, method: :delete %>
      <%= link_to 'My Reservation', user_path(current_user)%>
      </p>
    <% else %>
      <p><%= link_to 'Log In', new_sessions_path %></p>
      <p><%= link_to 'Sign Up', new_user_path %></p>
    <% end %>
  </nav>
</header>

<main>
  <body>
    <% if flash.any? %>
       <% flash.each do |key, value| %>
         <p class='<%= key %>'>
         <%= value %>
         </p>
       <% end %>
     <% end %>

  <%= yield %>

  </body>
</main>

</html>
